* {
  box-sizing: border-box;
}
body{
  background-color: black;
  color: pink;
  margin: 0;
  padding: 0;
}

.mainContainer{
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vmax;
}

.mainHeader {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.Context {
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.headers {
  text-align: left;
}

.paragraph {
    text-align: left;
}

.title, h2 {
  background: cyan;
}
